<CodeTestConfig>
  <CpuTimeLimit>5000</CpuTimeLimit>
  <MemoryLimit>500000</MemoryLimit>
  <ExecutionMode>All</ExecutionMode>
  <JudgeType>Custom</JudgeType>
  <Judge>
    <Language>Java</Language>
    <TargetFile>MazeRunner</TargetFile>
    <CpuTimeLimit>1000</CpuTimeLimit>
  </Judge>
</CodeTestConfig>