html {
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
}

select {
	width: 95%;
	text-align:center;
}

.selected {
	background-color: #27c827;
}

.notLevel {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	width: 50px;
	height: 100%;
	padding: 0px;
	background-color: rgba(50, 50, 50, 1);
	color: white;
}

#rightBuffer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	display: block;
	height: 100%;
	top: 0;
}

buttomBuffer {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	position: absolute;
	display: block;
	width: 100%;
	left: 0;
}

.radControl {
	display: inline-block;
	text-align: center;
	background-color: black;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.radControl:hover {
	background-color: grey;
	cursor: pointer;
}

#radControlBox {
	float: left;
	height: 30px;
	vertical-align: middle;
	line-height: 30px;
	font-family: sans-serif;
	font-size: 15;
}

.number {
	display: inline-block;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	margin-right: 10px;
	background-color: grey;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	font-family: sans-serif;
	font-size: 15;
}

.number.active {
	width: 50px;
}

.skin {
	display: inline-block;
	height: 30px;
	width: 100px;
	border-radius: 15px;
	margin-right: 10px;
	background-color: grey;
	vertical-align: middle;
	text-align: center;
	line-height: 30px;
	font-family: sans-serif;
	font-size: 15;
}

.skin.active {
	width: 150px;
}

.button {
	float: right;
	background-color: rgba(0, 0, 0, 1);
	height: 30px;
	width: 100px;
	margin-right: 50px;
	border-radius: 15px;
	line-height: 30px;
	text-align: center;
	font-family: sans-serif;
	font-size: 15;
}

.button:hover {
	background-color: grey;
	cursor: pointer;
}






textarea {
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}









ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
	text-align:center;
}
 
li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
 
li:last-child {
  border: none;
}
 
li {
  text-decoration: none;
  color: #000;
  display: block;
  width: 230px;
 
  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
  
  background: #ffffff;
}
 
li:hover {
  font-size: 20px;
}

ul{height:200px; width:95%;}
ul{overflow:hidden; overflow-y:scroll;}